.vscode/
lib/__pycache__
preprocessing/*
data/*
.data/*
output/*
libs/__pycache__
libs/transformations/__pycache__
*.ipynb_checkpoints
__pycache__
models/__pycache__
old/
*.pth
*.tar
*.raw
*.npy
*.npz
*.raw
*.odd
*.adv
*.log
*.pkl
*.zip
*.tar
*.pt
*.gz
